<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Решай и радуйся - Подтверждение почты</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_verify_email.css') }}">
</head>
<body>
  <div class="container">
    <header>
      <h1>Решай и радуйся</h1>
    </header>
    <main>
      <h2>Подтверждение почты</h2>

      <p>Мы отправили письмо с подтверждением на ваш адрес электронной почты.
      Проверьте папку "Входящие" и нажмите на ссылку в письме. Не закрывайте эту страницу!</p>
      <form id="confirmEmailForm" action="" method="POST">
        <div>
          <label for="confirmationToken">Введите токен из письма:</label>
          <input type="text" id="confirmationToken" name="confirmationToken" required>
        </div>
        <button type="submit" class="btn">Подтвердить</button>
      </form>
      <p>{{ response }}</p>
    </main>
    <footer>
      <p>&copy; 2024 Решай и радуйся</p>
    </footer>
  </div>
</body>
</html>